*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    background:
        repeating-linear-gradient(transparent, rgb(3, 70, 20) 20px),
        repeating-linear-gradient(0.15turn, rgb(3, 70, 20), rgb(60, 100, 20), rgb(20, 60, 110) 40px);
    width: 100%;
    font-family: sans-serif;
    /* color: rgb(250,245,5); */
    color: rgb(255, 250, 100);
}
main{
    width: 90%;
    /* max-width: 1000px; */
    margin-left: 5%;
    margin-bottom: .6rem;
    padding: 20px,0,20px,0;
}
header, footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(15, 60, 120);
    padding: 1.5rem;
    font: 1rem "helvetica";
}
header{
    /* position: sticky;
    top: 0;
    z-index: 100; */
    position: fixed;
    margin: 0px;
    width: 100%;
}
#under_header{
    height: 10rem;  
}
#wang{
    color: rgb(240,160,200);
    font-size: 3rem;
    font-weight: bolder;
}
header p{
    color: white;
}
nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    margin-top: -2rem;
}
#tab1, #tab2, #tab3{
    display: inline-block;
    height: 3rem;
    padding: 1rem;
    border-radius: 10px;
    border: solid rgb(218, 225, 225);
    margin-left: 10px;
    text-align: center;
    background-color: rgb(30, 100, 140);
    color: rgb(218, 225, 225);
    text-decoration: none;
}

/*  */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  

footer q{
    color: rgb(240,160,200);
}
#footer_email{
    display: block;
    text-decoration: none;
}
#footer_email, #copyright{
    color: white;
    font: .8rem "helvetica";
    text-align: center;
}

aside{
    width: 15%;
    min-width: 100px; 
    position: fixed;
    bottom: 40px;
    right: 40px;
    border-radius: 40px;
    border: solid rgb(218, 225, 225);
    padding: 20px;
    /* rgb(30, 100, 140) */
    background-color: rgb(30, 100, 140);
    font: .8rem "helvetica";
    color: rgb(218, 225, 225);
}
#about, #connect{
    border-radius: 30px 30px 100px 70px;
    padding: 20px 100px 30px 60px;
    background-color: rgb(120, 5, 120);
    box-shadow: 10px 5px 20px rgb(10,110,30);
    margin: 20px;
}

#experience, #skills, #projects{
    border-radius: 30px 30px 100px 70px;
    padding: 20px 100px 30px 60px;
    background-color: rgb(15,135,45);
    box-shadow: 10px 5px 20px rgb(10,110,30);
    margin: 20px;
}
#experience, #projects{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}
#message_form, #message_post{
    border-radius: 30px 30px 100px 70px;
    padding: 20px 100px 30px 60px;
    background-color: rgb(240,190,20);
    box-shadow: 10px 5px 20px rgb(10,110,30);
    font: 1rem Comic sans MS;
    color: rgb(100,0,130);
    margin: 20px;
}
/* #mForm_label{
    font: bold 3rem;
} */
#message_form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}
#message_form input{
    background-color: rgb(100,0,130);
    font: bold "Comic Sans MS";
    font-size: 1.2rem;
    color: white;
}
#message_form input:focus {
    background-color: black;
}
#message_form textarea{
    background-color: rgb(100,0,130);
    font: bold "Comic Sans MS";
    font-size: 1.2rem;
    color: white;
}
#message_form textarea:focus {
    background-color: black;
}

#message_post ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#message_post ul li{
    display: inline-block;
    border-radius: 10px;
    border: .2rem solid rgb(240,0,255);
    padding: 2rem;
    background-color: rgb(100,0,130); 
    font: italic 1rem;
    color:white;
    /* text-wrap: wrap; */
    /* need to make text-wrap work */
    margin: 1rem 0rem;
}

button{
    background-color: rgb(240,0,255);
    font: bold 1.2rem "Comic Sans MS";
    padding: .2rem;
    color: white;
}
button:focus{
    background-color: black;
}

a:link {
    color: rgb(90, 230, 210);
    text-decoration: underline;
  }
a:visited {
    color: rgb(220, 120, 30);
    text-decoration: none;
  }
a:hover {
    color: rgb(255, 200, 100);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
  }
a:focus{
    color: rgb(255, 200, 100);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}
h2{
    display: block;
    border-radius: 10px;
    padding-left: 2rem;
    background-color:  rgb(85, 5, 120);
    font: bold 2rem, sans-serif;
    color: rgb(218, 225, 225);
    margin-bottom: .3rem;
}


@media screen and (max-width: 600px), (orientation: portrait) {
    main{
        width: 96%;
        margin-left: 2%;
    }
    header{
        height: 13rem;
    }
    #under_header{
        height: 13rem;  
    }
    nav{
        margin: 0px;
    }
    #tab1, #tab2, #tab3{
        padding: .6rem;
        margin: .2rem;
    }
    #about, #connect, #experience, #skills, #projects, #message_form, #message_post{
        border-radius: 15px 15px 65px 40px;
        padding: 6px 35px 20px 25px;
        margin: 10px;
    }
    aside{
        border-radius: 15px;
        padding: 15px;
        position: relative;
        width: 60%;
        margin: 15% 5% 5% 15%;
    }
}

@media print {
    main{
        width: 90%;
        margin-left: 5%;
    }
    #about, #connect, #experience, #skills, #projects, #message_form, #message_post {
        margin: 2rem;
    }
    aside{
        position: relative;
        width: 90%;
        margin: 15% 5% 5%;
    }
}

